$primary-color: #fff;

.main{
  display: flex;
  flex-direction: row;
  .logo{
    height: 4rem;
    width: 9.563rem;
    padding: 0.5rem;
    #name {
      flex-shrink: 0;
      color: $primary-color;
      text-align: center;
      font-family: Roboto Slab;
      font-size: 2.375rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 0.5rem;
    }
    #circle{
      width: 9.563rem;
      height: 4rem;
      flex-shrink: 0;
      stroke-width: 1px;
      stroke: $primary-color;
      border: 1px;
      position: relative;
      top: -3.75rem;
    }
  }
  .search-button{
    width: 25.75rem;
    height: 2.5rem;
    margin-top: 1.188rem;
    margin-left: 5.375rem;
    img{
      width: 2rem;
      height: 2rem;
      position: absolute;
      left:40rem;
      margin-top: 0.2rem;
    }

    #search-input {
      width: 25rem;
      height: 1.875rem;
      flex-shrink: 0;
      color: #000;
      text-align: left;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      z-index: 1;
      background-color: transparent;
      border: none;
      position: relative;
      top: -2.5rem;
    }
    #search-input:focus {
      outline: none;
    }
    #search-input::placeholder {
       color: #000;
       text-align: left;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .center{
    margin-left: 4rem;
    width: 25%;
    box-sizing: border-box;
    #atendimento{
      float: left;
    }
    #whatsApp{
      float: right;
    }
    #atendimento, #whatsApp{
      margin-top: 1rem;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      border: #fff;
      p{
        color: $primary-color;
        text-align: left;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 0.5rem;
        font-size: 1rem;
      }
      img{
        margin-top: 0.5rem;
      }
    }
    #atendimento:hover, #whatsApp:hover{
      border: 2px solid $primary-color; // Altere a cor e os estilos da borda conforme necessário
    }
    #atendimento:focus, #whatsApp:focus {
      border: 0.1rem solid black; // Altere a cor e os estilos da borda conforme necessário
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    }
  }
  .painel{
    width: 25%;
    box-sizing: border-box;
    margin-left: 2rem;
    width:35%;
    float: right;
    h1{
      margin-top: 1.5rem;
      font-size: 1.5rem;
      color: $primary-color;
      text-align: center;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      float: right;
    }
    #buy img {
      max-width: 2rem; 
      max-height: 2rem;
      margin-top: 1.2rem;
    }
    #favorite{
      margin-top: 0.7rem;
    }
    #user{
      margin-top: 1.2rem;
    }
    button{
      background-color: transparent;
      display: flex;
      flex-direction: row;
      border: #fff;
      margin-left: 0.5rem;
      float: right;
      p{
        color: $primary-color;
        margin-left: 0.5rem;
        font-size: 1rem;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      img{
        margin-top: 0.5rem;
      }
    }
    button:hover{
      border: 2px solid $primary-color; // Altere a cor e os estilos da borda conforme necessário
    }
    button:focus {
      border: 0.1rem solid black; // Altere a cor e os estilos da borda conforme necessário
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    }
  }
}
