$primary-color: #fff;
.main{
  display: flex;
  flex-direction: row;
  .logo{
    height: 4rem;
    width: 9.563rem;
    padding: 0.5rem;
    #name {
      flex-shrink: 0;
      color: $primary-color;
      text-align: center;
      font-family: Roboto Slab;
      font-size: 2.375rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 0.5rem;
    }
    #circle{
      width: 9.563rem;
      height: 4rem;
      flex-shrink: 0;
      stroke-width: 1px;
      stroke: $primary-color;
      border: 1px;
      position: relative;
      top: -3.75rem;
    }
  }
  .search-button{
    width: 25.75rem;
    height: 2.5rem;
    margin-top: 1.188rem;
    margin-left: 5.375rem;
    
    #search-input {
      width: 25rem;
      height: 1.875rem;
      flex-shrink: 0;
      color: #000;
      text-align: left;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      z-index: 1;
      background-color: transparent;
      border: none;
      position: relative;
      top: -2.5rem;
    }
    #search-input:focus {
      outline: none;
    }
  }
  .center{
    margin-left: 4rem;
    width: 25%;
    #atendimento{
      margin-top: 1rem;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      border: #fff;
      p{
        color: $primary-color;
        margin-left: 0.5rem;
        font-size: 1rem;
      }
      img{
        margin-top: 0.5rem;
      }
    }
    #atendimento:hover {
      border: 2px solid $primary-color; // Altere a cor e os estilos da borda conforme necessário
    }
    #atendimento:focus {
      border: 0.1rem solid black; // Altere a cor e os estilos da borda conforme necessário
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    }
  }
  .painel{
    margin-left: 2rem;
    width:35%;
    float: right;
  }
}
