*{
    box-sizing: content-box;
    button:hover{
    cursor: pointer;
    }
}

$second-color: #000;
$primary-color: #fff;

.cep{
    height: 5rem;
    width: 12rem;
    padding: 0.5rem;
    float: left;
    display: flex;
    flex-direction: row;

    img{
       height: 2.5rem;
       width: 2.5rem;
       margin-left: 0.5rem;
    }

    input{
        color: $second-color;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 8rem;
        height: 2rem;
        background-color: transparent;
        border: transparent;
    }

    input:focus {
        outline: none;
    }

    input::placeholder {
        color: $second-color;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 8rem;
        height: 2rem;
    }
}

.select{
    margin-top: 2rem;
    margin-left: 20%;
    width: 50%;
    button{
        color: $second-color;
        text-align: center;
        font-family: Roboto;
        font-size: 29px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        background-color: transparent;
        margin-right: 4rem;
    }

    button:hover{
        border-bottom-color: $second-color;
    }

    button::active{
        color: $primary-color;
    }

    button:focus{
        border-bottom-color: transparent;
    }
}

.cards-red{
    height: 172px;
    margin-top: 2rem;
    margin-left: 8rem;
    display: flex;
    flex-direction: row;
    .card{
        width: 278px;
        height: 172px;
        margin-right: 2rem;
        flex-shrink: 0;
        background-color: red;

        #primary{
            height: 70%;
            margin: 1rem;
            align-content: center;
            display: flex;
            flex-direction: row;
            img{
                height: 70%;
                margin-top: 1rem;
            }
            h1{
                color: $primary-color;
                text-align: center;
                font-family: Roboto;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        #second{
            height: 10%;
            color: $primary-color;
            text-align: center;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            float: left;
            margin-left: 1rem;
        }
    }
}