<div class="cep">
    <img src="https://s3-alpha-sig.figma.com/img/f5a5/ffb0/281e25ece92308dba928cc2500e5f94c?Expires=1695600000&Signature=ZeUPVjEU5H0hGRUWLItP1IK2-P~LtcO8hDWMmf1nmSqlJEf00LJAW9HyfD6jguIO5Ev-YRUK5nCqfW9OkPy4MAuuCXzqpFAoYKrc9k11wLWI4nrSU~ZiMUNUCkQ5ttiixcVJlRhfXGrHWOkijetgqQ8BRP6ZSQUIACFDpqTUxhFCc4PdBap2W7uZrls4VVMXbEUTieCPUVQ0Um59TRwWTV~0he5ZYSYYgZjOxmo~C8qSTa~T~kzobq69qAIVO3BZRGT3bZ1sLVdnNZeAbo6bF96FK6cxCU-fbI8lP6XhraO0bnetNU5XU35TTHfFlbKiAzGFovwssCE7ctolA6viKw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
    <input id="search-input" type="text" (ngModelChange)="searchCEPChange($event)" mask="00000-000" placeholder="Digite o seu CEP">
</div>
<div class="select">
    <button (click)="getFeminino()">Feminino</button>
    <button (click)="getMasculino()">Masculino</button>
    <button (click)="getInfantil()">Infantil</button>
    <button style="color:red;" (click)="getOUTLET()">OUTLET</button>
</div>
<div class="cards-red">

</div>
