<div class="card-main">
    <div class="cep">
        <img src="https://s3-alpha-sig.figma.com/img/f5a5/ffb0/281e25ece92308dba928cc2500e5f94c?Expires=1695600000&Signature=ZeUPVjEU5H0hGRUWLItP1IK2-P~LtcO8hDWMmf1nmSqlJEf00LJAW9HyfD6jguIO5Ev-YRUK5nCqfW9OkPy4MAuuCXzqpFAoYKrc9k11wLWI4nrSU~ZiMUNUCkQ5ttiixcVJlRhfXGrHWOkijetgqQ8BRP6ZSQUIACFDpqTUxhFCc4PdBap2W7uZrls4VVMXbEUTieCPUVQ0Um59TRwWTV~0he5ZYSYYgZjOxmo~C8qSTa~T~kzobq69qAIVO3BZRGT3bZ1sLVdnNZeAbo6bF96FK6cxCU-fbI8lP6XhraO0bnetNU5XU35TTHfFlbKiAzGFovwssCE7ctolA6viKw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
        <input id="search-input" type="text" (ngModelChange)="searchCEPChange($event)" mask="00000-000" placeholder="Digite o seu CEP">
    </div>
    <div class="select">
        <button (click)="getFeminino()">Feminino</button>
        <button (click)="getMasculino()">Masculino</button>
        <button (click)="getInfantil()">Infantil</button>
        <button style="color:red;" (click)="getOUTLET()">OUTLET</button>
    </div>
    <div class="container-reds">
        <div class="card"><div id="primary">
            <img src="https://s3-alpha-sig.figma.com/img/03e3/e95e/3479f5318bb570ab5fdee32ce84c6acd?Expires=1695600000&Signature=jcFdVho8WTEki64fPNsWorbKJk6-48ZLURd0-Wcr3lefbn~PTCvbzBvNq2kpmaBAkjVMfj-ud~pIJk6Wywwa5xCagLYj68PNze8SjNsZv0ka6rdizPeIj8X-oDVzS~bYQaJadveBX3xJv59ar1APxuIAQ3o0cPh8eSb2I3Jn4Lz16BOjbZbbUocAwqrXE8NG-Sm7Tu6BYyQbARma-f14gdXWZXTMZJ31cooQCDyoWeOXtNwEvbkSEREWfwPmiH~Aqv0BmuL0hXY0JHip9isiYQ~W4e~AbxHsVd-r-ntmDLzdxQVG~aD88sW0wSWlUx2OGFVWZ8qpBHLtHHzDCKGl0Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="" srcset="">
            <h1>FRETE GRÁTIS*</h1>
        </div><div id="second">Compras acima de R$ 250,00*</div></div>
        <div class="card"><div id="primary-2">
            <img style="height: 100%;width: 100%;" src="https://s3-alpha-sig.figma.com/img/c49f/e4b5/7ea75e8014a01ff45af9b2e284cc5845?Expires=1695600000&Signature=DEjasbj~PrcvgE5hWc289TLG5nnKyOkZgS1VZgAYPZBiBwPm5BDkSGDofiQSjrvGDXAqajAIMvHhyuiPhF0Uuk0tjYdPbrK-IlqGSgz142v53PbriM-6wL~D4F5QAbmHApebjQGHZvUYA1Weq-qjxDJr-DKWn9kbAG42yAvMHRu-upz8-U4GFhitWnDjsNvN~-O8a2ewSS-kTRVHXTkFeMiUHVX2uXOgIsjf3jG4ZRjLmZoiXTIwLtuoHUiDlEzy3QmJ0YdrKZAmO-cax5tpdIMPSpTG~nJaKi-MvrprMzmEpzZfplB-xwWfFVbwFzi3f0FTKMwPbpnpmlahWolf0Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="" srcset="">
        </div><div id="second">Em um raio de 50 Km*</div></div>
        <div class="card"><div id="half-column">
            <img src="https://s3-alpha-sig.figma.com/img/9325/0f8c/36f94e19066faaffdc9460130bb455c3?Expires=1695600000&Signature=gA-fEarcCOPx5lbh1orfF2MOfwp31BW3xBe2fSLHJ-TUa6Ua-85TRFOe237OG15sBzCcQqvCj1SO4MhU48h44AZAdrNDRsH5w222poNOQXeXzsymAkAzkb9ivNcz7AK0XCoo0ZG03U0qANt7OWu6uz3aY1AC~1pTDzB4~bE-XeNdBD8wyhMpwtrglLYUYsQtMb2zC5AGAsmpcPM3ehd9cDKMGao68WtBvIVfnI9j2WKF61kGr2AFOLzE7u16ZQmksmQLiCgxk~9YxrBqhmKBP2w2y0vYjTq14ASCGyjnald71uSHYcYgZXh0kv-Yc~N1eEF8ikHjquG4hpJCbd~jjw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="" srcset="">
        </div><div id="half-column">PARCELE EM ATÉ 12X SEM JUROS</div>
        </div>
        <div class="card">
            <div id="half-row">
                <img src="https://s3-alpha-sig.figma.com/img/2f7d/77f9/f766a557fb03d30963aa3b17d408d01a?Expires=1695600000&Signature=ME45chYSOrkWylZwv~kZA8jYUtdzRpC7JKKokoeifdAVkZ1Q9h5lOWJbbNS0jpP8J5bFvKDJrF5uDMyfqqbQtp0EwndigVRqUSS9BWx4hfLT8lJPWqHSlcWeLrpKsmwaZKvIH7GvZigcELMykcnc6K8Nbd8RP1XdREntInjoI8uMzR84nOETgdSZBfEc4kDH2v9kqNIdNmjm03lf8w3wugWcuDH8OR7bzXFxifNIV7hwg5mabvUJ~YM3Y0I8Zcw86n~5cSUC9oSeSHz5g3MfGWKd3W96jPijJ59hgIUy1M64S-B154eMpgjjjLGYpb-iKgn~wgSQAhlB9ZELibGoYg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="" srcset="">
                <h1>Baixe o nosso App e tenha descontos exclusivos</h1>
            </div>
        </div>
    </div>
    <div class="container-pre">
        <div class="card">
            <h1>PRÉ-LANÇAMENTO</h1>
            <h2>PRIMAVERA</h2>
        </div>
    </div>
</div>
