*{
    box-sizing: content-box;
    button:hover{
    cursor: pointer;
    }
}

$second-color: #000;
$primary-color: #fff;

.cep{
    height: 5rem;
    width: 12rem;
    padding: 0.5rem;
    float: left;
    display: flex;
    flex-direction: row;

    img{
       height: 2.5rem;
       width: 2.5rem;
       margin-left: 0.5rem;
    }

    input{
        color: $second-color;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 8rem;
        height: 2rem;
        background-color: transparent;
        border: transparent;
    }

    input:focus {
        outline: none;
    }

    input::placeholder {
        color: $second-color;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 8rem;
        height: 2rem;
    }
}

.select{
    margin-top: 2rem;
    margin-left: 20%;
    width: 50%;

    button{
        color: $second-color;
        text-align: center;
        font-family: Roboto;
        font-size: 29px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: transparent;
        background-color: transparent;
        margin-right: 4rem;
    }

    button:hover{
        border-style: outset;
        border-color: $primary-color;
    }

    button:focus{
        border: transparent;
    }
}